.terms a {
    display: none;
}

.terms_conditions h1,
.terms_conditions h5 {
    font-style: normal;
    font-weight: 300;
    color: #3A3A3A;
}

.terms_conditions h1 {
    font-size: 40px;
    line-height: 58px;
}

.terms_conditions h5 {
    font-size: 20px;
    line-height: 30px;
}
.terms_conditions ul, .terms_conditions li{
    list-style: disc;
    color: #838383;
}