#facilities_swiper .swiper h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    color: #3A3A3A;
}

#facilities_swiper .swiper p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #838383;
}

@media (min-width:1024px) {
    .view_btn_position {
        position: absolute;
        top: 41px;
        right: 135px;
    }
}

.pt-92 {
    padding-top: 92px;
}

.e_rooms .swiper-button-next {
    position: absolute;
    left: 40px;
    width: 29px;
    height: 29px;
    background-image: url('../../../public/image/Home Page/svg/Arrow-right.svg') !important;
    top: 22px;
}

.e_rooms .swiper-button-prev {
    position: absolute;
    top: 22px;
    background-image: url('../../../public/image/Home Page/svg/Arrow-left.svg') !important;
    height: 29px;
    width: 29px;
    left: 0;
}