@media (max-width:767.98px) {
    .md\:mt-4{
        margin-top: 1.5rem;
    }

    .md\:m-5{
        margin: 3rem;
    }
}

@media (min-width:768px) {
    .md\:pe-3 {
        padding-right: 16px;
    }

    .md\:mx-4{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .pt-224 {
        padding-top: 224px;
    }

    .md\:mw-471 {
        max-width: 471px;
    }
}

.ps-117 {
    padding-left: 117px;
}

.pt-120 {
    padding-top: 120px;
}