/* Home Page */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn:focus {
    background: none;
    border: 0;
    box-shadow: none;
}

/* Home Page section-1 */
.homepage_content {
    position: absolute;
    bottom: 0 !important;
}

.mt-35 {
    margin-top: 35px;
}

.mt-342 {
    margin-top: 342px !important;
}

.mb-200 {
    margin-bottom: 200px;
}

.home_h1 {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 3.625rem;
    color: #3A3A3A;
}

/* Home Page section-2 */
.modal-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#color-FAF8F4 {
    background: #FAF8F4;
}

#color-E5E5E5 {
    background: rgba(229, 229, 229, 0.3);
}

.pt-100 {
    padding-top: 100px;
}

.my-148 {
    margin-top: 148px;
    margin-bottom: 184px;
}

.mt-242 {
    margin-top: 242px;
    color: #838383;
}

.mt-134 {
    margin-top: 134px;
}

.my-89 {
    margin-top: 89px;
}

.mw-417 {
    max-width: 417px;
}

.mw-417 p {
    color: #838383;
}

.my-136 {
    margin-top: 136px;
    margin-bottom: 136px;
}

.mt-238 {
    margin-top: 238px;
}

.mb-184 {
    margin-bottom: 184px;
}

.mw-367 {
    max-width: 367px;
    color: #3A3A3A;
}

.mb-70 {
    margin-bottom: 70px;

    font-style: normal;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 3.75rem;
    color: #3A3A3A;
}

@media (max-width:1133.98px) {
    .img-gradient img {
        height: 100vh !important;
    }
}

@media (min-width:992px) {
    .carousel-padding {
        padding-left: 137px;
        padding-right: 137px;
        padding-bottom: 89px;
    }
}

@media (min-width:768px) {
    .carousel-padding {
        padding-left: 96px;
        padding-right: 96px;
        padding-bottom: 89px;
    }
}

@media (max-width:767.98px) {
    .carousel-padding {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 89px;
    }

    .swiper-pagination-fraction {
        padding-left: 48px !important;
    }

    .mt-49 p {
        margin-bottom: 48px !important;
        text-align: center !important;
    }

    .mt-49.ms-168 {
        display: flex;
        justify-content: center !important;
        padding: 0%;
    }
}

.ps-61 {
    padding-left: 61px;
}

.ms-168 {
    padding-left: 168px;
}

.main_swiper .swiper-button-prev,
.main_swiper .swiper-button-next {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    width: 29px;
    height: 29px;
}

.mt-49 {
    margin-top: 49px;
}


.my-136 {
    margin-top: 136px;
    margin-bottom: 136px;
}

.my-136 .swiper-button-prev {
    top: 265px;
    background-image: url('../../../public/image/Home\ Page/svg/Arrow-left.svg');
}

.my-136 .swiper-button-next {
    display: none;
}

.main_swiper .swiper-button-prev {
    background-image: url('../../../public/image/Home\ Page/svg/Arrow-right.svg');
    transform: rotate(180deg);
    right: 118px;
}

.main_swiper .swiper-button-next {
    background-image: url('../../../public/image/Home\ Page/svg/Arrow-right.svg');
    right: 70px;
}

.swiper-pagination-fraction {
    bottom: 0;
    padding-left: 96px;
    padding-right: 24px;
    width: auto;
}

.swiper-pagination-total {
    margin-left: 2px;
}

.cp p,
.carousel-padding .swiper-pagination {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #838383;
}

.pe-85 {
    margin-left: 85px;
}